
    <div class="text-center">
        <h1 class="display-4"><strong>Sourdough Master Club!!!</strong></h1>
        <h3 >I really love sourdough and I want you to love it as much I do!</h3>
        <img src="~/img/sourdough_crumb.jpg" height="400" width="400" id="imgCrumb"/>
        <img src="~/img/sourdough2.jpg" height="400" width="400" id="imgCrumb"/>
        <img src="~/img/sourdough3.jpg" height="400" width="400" id="imgCrumb"/>
        <br/><br/>
    </div>

    <div class="text-center">
        <p>Let me introduce to you why I love sourdough and why I hope you will too. I have always loved baking and cooking, especially making any type of bread item. It was not until 2020 that I discovered my love for sourdough. 
            It was a challenge. It took me months to learn, practice, and perfect the art of sourdough. My family always jokes about how sourdough is like my baby. It takes dedication, consistency, and passion to really master sourdough. 
            I have spent all these hours to learn it and perfect it, so you do not have to. Not only does it take dedication and hard work to make, sourdough bread is so yummy and has so many health benefits! </p>
       <br/><br/>
        <h3> Why is sourdough so much better FOR YOU than normal white bread? </h3>
        <div class="imgContainer">
            <ul class="centered-list">
                <li>Tastes Delicious!</li>
                <li>Easier to Digest</li>
                <li>Lower Glycemic Index (Good for diabetes!)</li>
                <li>Less Processed</li>
                <li>Rewarding to make</li>
            </ul>
            <img src="~/img/benefits.jpg" height="400" width="400" class="imgRight"/>
        </div>
        <br/><br/>
        <h3> Why it matters to YOU </h3>
        <p>Once you understand the basics of making sourdough, you can make so much different kinds of breads. Something wonderful about a sourdough starter is that you can make lots of things taste sour and delicious. 
            For example, I love to add sourdough to my waffles and pancakes! It creates the best flavor profile. You can also learn how to make pizza dough, english muffins, bagels and many more from scratch with your starter! 
            I am excited for your journey and I hope I can provide services you need to succeed! Click on the "Course Calculator" page to learn more about my services. </p>
        <br/><br/>
    </div>
    
